node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
CLAUDE.md
be/README_CLAUDE.md
log.html
*.xml
report.html
RF/playwright-log.txt
RF/README_CLAUDE.md
fe/mojeApp/README_CLAUDE.md
be/tests/README.md
