# Robot Framework Core
robotframework==7.2.2

# Robot Framework Libraries - Main
robotframework-browser==19.9.0
robotframework-requests==0.9.7
robotframework-faker==5.0.0
robotframework-jsonlibrary==0.5
robotframework-debuglibrary==2.5.0


# Additional RF Libraries (pokud používáš)
robotframework-seleniumlibrary==6.7.1
robotframework-pabot==4.1.1

# Dependencies pro Browser library (Playwright)
playwright==1.50.0

# HTTP/API testing
requests==2.32.5
requests-toolbelt==1.0.0

# Faker pro generování test dat
Faker==21.0.0

# JSON manipulation
jsonpath-ng==1.7.0

# RPA Libraries (pokud používáš FTP v common.resource)
rpaframework-core==11.3.3

# Utility
setuptools>=65.5.0

# Database Library
robotframework-databaselibrary