# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log

# Environment variables
.env
.venv

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite3

# Static files
/static/

# Exceptions
!requirements.txt