fastapi==0.128.0
uvicorn[standard]==0.40.0
sqlalchemy==2.0.36
psycopg[binary]==3.2.5
python-dotenv==1.0.1
pydantic-settings==2.7.0
pydantic==2.12.5
alembic==1.14.0
loguru>=0.7.3
loki-logger-handler>=1.0.0
requests>=2.32.3
email-validator>=2.2.0
httpx>=0.28.1
